:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

html {
  font-size: 15px;
  font-family: Outfit;
  text-align: center;
  background-color: var(--light-gray);
}

main {
  margin: auto;
  margin-top: 10%;
  width: 360px;
  background-color: var(--white);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

img {
  display: block;
  width: 350px;
  border-radius: 15px;
}

p {
  margin-bottom: 3em;

}